javascript==1!1.2.0
# langchain-experimental==0.0.59
# langchain==0.2.1
# langchain_openai==0.1.7
langchain-anthropic==0.1.13
langchain==0.2.2
langchain_core==0.2.4
langchain-community==0.2.1
# pydantic==1.10.10
pydantic==2.6.4
langchain_openai==0.1.8
openai==1.40.0
pyvista==0.44.1
plotly==5.23.0